<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>compileBitcode</key>
  <false/>
    <key>method</key>
    <string>app-store</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.kofax.Mobile-Capture-Demo</key>
    <string>7b591c62-e57a-4dad-a2d8-089e984be4c3</string>
  </dict>
  <key>signingCertificate</key>
  <string>iPhone Distribution: Kofax, Inc.</string>
  <key>signingStyle</key>
  <string>manual</string>
    <key>uploadSymbols</key>
    <true/>
    <key>teamID</key>
    <string>B9C7GRQCYQ</string>
  <key>thinning</key>
  <string>&lt;none&gt;</string>

</dict>
</plist>
