<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kofax.samples.mobilebarcodedemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.EAC" />

    <!--android:icon="@mipmap/ic_launcher"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/barcode_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/barcode_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LicenseAgreementActivity"
            android:label="@string/title_activity_license_agreement"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CaptureActivity"
            android:label="@string/title_activity_capture"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BarcodeInfoActivity"
            android:label="@string/title_activity_barcode_info"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>